body {
    background-color: ghostwhite;
}

#siteTitle_h1 {
    min-width: 320px;
}

#subTitle {
    margin: 0 auto;
    max-width: 300px;
    border-radius: 10px;
    border-bottom: solid 2px gray;
}


#topReturnBtn {
    position: fixed;
    right: 50px;
    bottom: 50px;
}

#topReturnBtn > .btn-success {
    background-color: #3FFF14;
    border-color: #3FFF14;
}
